*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-size: 19px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    header, section, footer, aside, nav, article, hgroup{
        display: block;

    } 

    body{
        text-align: center;
        background-color:#95afc0;
    }

    .agrupar{
        width: 960px;
        border: 1px solid black;
        background-color: #f5f6fa;
        margin: 20px auto;
    }

    .cabecera{
        background-color: #576574;
        color: white;
        border: 1px solid #999999;
        padding:15px;
    }

    .cabecera h1{
        text-align: auto;
    }

    .flex center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.flex center{
    display: flex;
    justify-content: center;
}

    .menu{
        margin-top: 0px;
        text-align: center;
        margin-bottom: 25px;
        border: solid  black 1px;
        padding-top:  10px;
        padding-bottom: 10px;
        background-color: #c8d6e5;
    
    }
    
    .menu  a{
        text-decoration: none;
        margin-right: 15px;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
    }
    .menu a:hover{
        color: white;
    }



    .Cuadrado{
        background-color:#00a8ff;
        border: 1px solid #999;
        padding: 20px;
        margin-bottom:15px;
    }
    
    .Cuadrado1{
        background-color:#0097e6;
        border: 1px solid #999;
        padding: 20px;
        margin-bottom:15px;
    }

    time{
        color: #999;
    }

    article footer{
        text-align: left;
        margin-top: 10px ;
        margin-bottom: 10px;
        text-align: center;

    }

    .seccion{
        margin: 20px;
        width: 60%;
        float: left;
    }

    .columna{
        width: 30%;
        float: left;
        font-family:cursive;
        margin: 20px 5px ;

    }

    .columna blockquote{
        border: 1px solid black;
        padding: 40px;
        background-color:#8395a7;
        margin-bottom: 20px;
    }

    .pie{
        clear: both;
        font-family:serif;
        padding: 20px;
        background-color:#81ecec ;
        color: black;
    }

    img{
        width: 350px;
        display:block;
        margin:15px  auto;

    }

    .pie p{
        color: #999;
    }

    .H1{
        font-family:initial ;
    }

    .H2{
        font-family: unset;
    }

    .link1{
        text-decoration: none;
        color: green;
    }

    .link1:hover{
        color: white;
        font-weight: lighter;
    }

    .link2{
        text-decoration: none;
        color: blue;
        font-size:medium;
    }
    
    .link2:hover{
        color: white;
    }

    .form_container{
        text-align:left;
        padding: 5px;
        
    }

    .form__paragraph{
        text-align:justify;
        text-decoration: none;

    }
    .form__paragraph a{
        text-decoration: none;
    }
    #inicio a:hover{
        color: #576574;
    }
    .form_title{
        font-size: 2rem;
        margin-bottom: .5em;
    }
 
    .form_paragraph{
        font-weight: 300;
    }
 
    .form_container{
        margin-top: 3em;
        display:grid;
    }
 
    .form_group{
        position: relative;
        --color:#5757577e;
    }
 
    .form_input{
        width: 100%;
        background: none;
        color:#706c6c;
        font-size: 1rem;
        padding: .6em .1em;
    }
    .cuerpo{
        font-family:Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: bold;
        background-color: #e5e5f7;
        background-color: #e5e5f7;
    background-image: radial-gradient(#afedf0 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    display: flex;
    min-height: 100vh;
    }
    
       .todo{
        background-color: white;
        margin: auto;
        width: 90%;
        max-width: 400px;
        padding: 4.5em 3em;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5 rgb(0 0 0 
        / 30%) ;}
 

